.filter {
  display: flex;
  padding: 0 24px 24px;
  justify-content: center;
}

.filter input {
  display: block;
  width: 100%;
  max-width: 350px;
  font-size: 20px;
  padding: 8px 16px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  outline: none;
  margin-right: 8px;
}

.filter button {
  display: flex;
  font-size: 20px;
  color: #000;
  background-color: #f0f0f0;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  align-items: center;
  transition: background-color 0.3s ease;
}

.filter button:hover {
  background-color: #fceff6;
  color: #d6056a;
}

.filter-icon {
  font-weight: bold;
  margin-right: 4px;
}
